# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# All files
[*]

#### Core EditorConfig Options ####

# Encoding
charset = utf-8

# Indentation and spacing
tab_width = 4
indent_size = 4
indent_style = space

# New line preferences
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

# Misc settings
max_line_length = 160
file_header_template = Copyright (c) Microsoft Corporation.\r\nLicensed under the MIT License.

# C# files
[*.cs]

#### .NET Coding Conventions ####

# 'this.' and 'Me.' preferences.
# Note: IDE0003 and IDE0009 are 'silent' by default.
dotnet_diagnostic.IDE0003.severity = warning
dotnet_diagnostic.IDE0009.severity = warning

# Namespace preferences.
# Note: 'dotnet_style_namespace_match_folder' defaults to 'true'.
dotnet_style_namespace_match_folder = false

#### C# Coding Conventions ####

# Primary constructor preference.
# Note: 'csharp_style_prefer_primary_constructors' defaults to 'true'.
csharp_style_prefer_primary_constructors = false

# Expression-bodied members.
# Note: these default to 'true' (accessors, indexers, lambdas, properties) or 'false' (local functions, operators).
csharp_style_expression_bodied_accessors = when_on_single_line
csharp_style_expression_bodied_indexers = when_on_single_line
csharp_style_expression_bodied_lambdas = when_on_single_line
csharp_style_expression_bodied_local_functions = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_style_expression_bodied_properties = when_on_single_line

# Namespace declaration preferences.
# Note: 'csharp_style_namespace_declarations' defaults to 'block_scoped' with a 'silent' severity.
csharp_style_namespace_declarations = file_scoped:warning