<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CsWinRTDependencies" value="https://pkgs.dev.azure.com/shine-oss/CsWinRT/_packaging/CsWinRTDependencies/nuget/v3/index.json" />
    <add key="asmresolver-nightly" value="https://nuget.washi.dev/v3/index.json" />
  </packageSources>
</configuration>